

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: DejaVu Sans;
}


#logo {
  float: left;
  width: 50px;
  height: 50px;
}

#screenshot-container {
  background-color: #6EF562;
  padding: 30px;
  padding-top: 5px;
}

#crafted-container {
  padding: 30px;
}

#contactus-container {
  padding: 30px;
  background-color: #064073;
}

#footer-container {
  padding: 10px;
  background-color: #0C1330;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.green-text {
  color: #1A7316;
}

.lightgreen-text {
  color: #6EF562;
}

.white-text {
  color: #ffffff;
}

.tag-font {
  font-size: 10px;
}

.font
{
  color: #0CF22F;
  font-weight:bold;
}

.font1 {
  color: #7D7D7D;
}

.footer-text {
  color: #000066;
}


.white-bg {
  background-color: #ffffff;
}

.black-bg {
  background-color: #000000;
  border-color: #000000;
}

.green-bg {
  background-color: #6EF562;
  border-color: #6EF562
}

.navyblue-bg{
  background-color: #232D59;
}




.navbar-custom {
  padding: 0px;
  padding-left: 20px;
  float: left;
  color: #ffffff;
  text-align: left;
}

.navbar-header {
  width: 400px;
}

.navbar-container {
  margin-bottom: 0px;
  background-color: #1C2040;
}

.center-align {
  position: center;
  text-align: center;
}

.vertical-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.screenshot {
  width:150px;	
  height:150px;
  border-color:white;
  border-width:3px;
  border-style:solid;
}

.crafted-screenshot {
  width:400px;	
  height:200px;
}



